@use '../../layouts' as layouts;

.toolbar {
    display: flex;
    position: sticky;
    align-items: center;
    width: 100vw;
    margin: 0 2rem;
    min-height: 2rem;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: layouts.$sticky-toolbar;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
